.chat-body {
  flex: 1;
  padding: 18px 6%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: auto;
}

.chat-body__welcome {
  margin: auto;
  text-align: center;
}

.chat-body__title {
  font-size: 140px;
  font-weight: 500;
  background: linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.chat-body__subtitle {
   background: linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--muted);
  font-size: 60px;
  margin-top: 18px;
}
.chat-body__subtow{
  color: var(--muted);
  font-size: 60px;
  margin-top: 18px;
}

@media (max-width: 640px) {
  .chat-body {
    padding: 14px 5%;
    gap: 12px;
  }

  .chat-body__title {
    font-size: 21px;
  }

  .chat-body__subtitle,
  .chat-body__subtow {
    font-size: 13px;
  }
}
